@model MyFace.Models.ViewModels.UserListViewModel
@{
    ViewBag.Title = "UserList";
}

<body>
    <div class="limited-width-container">
        <h1>Say Hi to all the My🙂Face users!</h1>
        @foreach (var user in Model.ListOfUsers)
            {
                <p class="user-link">@Html.ActionLink($"🙂 {user.fullname}", "Index", "Wall", new {user.username}, new { @class = "user-link"})</p>
            }
    </div>

</body>


